@use "../abstracts" as *;

.title {
  @include title;
  margin: 0;
  line-height: 1.15;
  color: var(--secondary-color);
}

.subtitle {
  @include subTitle;
  margin: 0;
  line-height: 1.15;
  color: var(--secondary-color);
}

.heading,
h1 {
  @include heading;
  color: var(--secondary-color);
}

.subheading,
h2 {
  @include subHeading;
  color: var(--secondary-color);
}

.text--big {
  @include bigText;
  color: var(--secondary-color);
}

.text--regular {
  @include normalText;
  color: var(--secondary-color);
}

.text--small {
  @include smallText;
  color: var(--secondary-color);
}

.button-text {
  @include bigText;
  color: var(--primary-color);
}

.input-text {
  @include normalText;
  font-family: inherit;
  color: var(--secondary-color);

  &::placeholder {
    @include normalText;
    font-family: inherit;
    color: var(--neutral-500);
  }
}
